.table {
    width: 100%;
    border-collapse: collapse;
    color: var(--c-dark);
    font-size: 0.75em;

    thead {
        position: sticky;
        top: 0;
        background-color: var(--c-dark);
        color: rgb(255 255 255);

        th {
            padding: 10px;
            border: 1px solid rgb(208 208 208);
            border-top: none;
            font-weight: 500;
            text-align: left;
        }
    }

    tbody {
        tr:nth-child(even) {
            background-color: var(--c-light);
        }

        td {
            padding: 10px;
            border: 1px solid rgb(208 208 208);
            text-align: left;
        }
    }
}
