.screenWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 76px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    width: 260px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;

    .title {
        font-weight: 600;
        font-size: 24px;
        color: var(--c-txt);
    }

    .desc {
        font-weight: 400;
        font-size: 16px;
        color: var(--c-txt);
    }
}

.button {
    width: 100%;
}
