.mainScreenStats {
    position: absolute;
    z-index: var(--z-main-screen-button);

    display: flex;
    flex-direction: column;
    gap: 2px;
    bottom: 81px;

    font-weight: 400;
    font-size: 16px;
    color: var(--c-white);
}
