.errorCard {
    justify-content: space-between;
}

.bottomBLock {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
    width: 100%;
}

.buttonsBlock {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.errorList {
    text-align: start;
}

.errorMessage {
    text-align: center;
}
