.list {
    scrollbar-gutter: stable;
    overflow: hidden auto;
    max-height: 100%;
    margin-right: 10px;
}

.item {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.notArrived {
    border: solid;
    border-color: red;
    border-radius: 5px;
}

.arrival {
    margin-left: auto;
}

.bold {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}

.counter {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #8d959e;
}
