Django
django-filter
django-admin-list-filter-dropdown==1.0.3
django-admin-rangefilter==0.8.1
django-cors-headers
djangorestframework
psycopg2-binary
django-debug-toolbar
gunicorn
flower
sentry-sdk
requests
arrow
drf-spectacular
python-dotenv
dj-rest-auth
pillow
