Django
django-filter
django-cors-headers
djangorestframework
psycopg2-binary
django-debug-toolbar
gunicorn
flower
sentry-sdk
requests
arrow
drf-spectacular
python-dotenv
dj-rest-auth
pillow
python-crontab
opentelemetry-distro
opentelemetry-instrumentation-django
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-sqlite3
opentelemetry-exporter-otlp
