.pinInputWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.errorText {
    color: var(--c-error);
    font-weight: 400;
    font-size: 13px;
}

.container {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
}

.mainInput {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.pinInput {
    width: 56px;
    height: 48px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    border: #808080 solid;
}

.pinInput.focus {
    border-color: var(--c-blue);
}

.pinCursor {
    position: absolute;
    top: 50%;
    right: 17px;
    transform: translateY(-50%);
    width: 3px;
    height: 25px;
    background-color: #007bff;
    z-index: 100;
    animation: blink 1.3s infinite;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    
    51%, 100% {
        opacity: 0;
    }
}
