.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32px;
    padding: 76px 16px 16px 16px;

    height: 100%;
    width: 100%;

    &.white {
        background: var(--c-white);
    }

    &.red {
        background: var(--c-error);
    }

    &.blue {
        background: var(--c-blue);
    }
}
