.scanSimulatorBlock {
    position: absolute;
    top: 20vh;
    z-index: 1000;
    display: flex;
    gap: 5px;

    button {
        font-size: 0.8em;
    }

    input {
        width: 60px;
    }

    select {
        align-self: center;
        width: 100px;
    }
}
