.header {
    top: 0;
    z-index: 1000;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    height: var(--header-h-mobile);
    background: rgb(255 255 255);

    .button {
        padding: 0;
        border: none;
        border-radius: 50%;
        background: none;
        line-height: 0;
        transition: background 0.05s;

        &:active {
            background-color: rgb(231 231 231);
        }
    }

    h1 {
        display: block;
        margin: auto;
        font-weight: 500;
        font-size: 1.75rem;
    }
}

@media --desktop {
    .header {
        height: var(--header-h-desktop);

        h1 {
            font-size: 3rem;
        }
    }
}
