.header {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 100%;
    padding: 16px 24px;
    background: var(--c-white);
}

.button {
    background: none;
    border: none;
    cursor: pointer;
}

.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: var(--c-txt);
}

.leftBlock {
    display: flex;
    align-items: center;
    gap: 16px;
}
