service:
  extensions: [jaeger_storage, jaeger_query]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [jaeger_storage_exporter, spanmetrics]
    metrics/spanmetrics:
      receivers: [spanmetrics]
      exporters: [prometheus]
  telemetry:
    resource:
      service.name: jaeger
    metrics:
      level: detailed
      readers:
        - pull:
            exporter:
              prometheus:
                host: 0.0.0.0
                port: 8888
    logs:
      level: DEBUG

extensions:
  jaeger_query:
    storage:
      traces: some_storage
      metrics: some_metrics_storage

  jaeger_storage:
    backends:
      some_storage:
        elasticsearch:
          tls:
            insecure: true
            insecure_skip_verify: true
          server_urls: ["http://opensearch:9200/"]
          auth:
            basic:
              username: ${env:OPEN_SEARCH_USER_NAME}
              password: ${env:OPEN_SEARCH_PASSWORD}
          indices:
            index_prefix: "jaeger-main"
            spans:
              date_layout: "2006-01-02-15-04"
              rollover_frequency: "minute"
              shards: 1
              replicas: 0
            services:
              date_layout: "2006-01-02-15-04"
              rollover_frequency: "minute"
              shards: 1
              replicas: 0
            dependencies:
              date_layout: "2006-01-02-15-04"
              rollover_frequency: "minute"
              shards: 1
              replicas: 0
            sampling:
              date_layout: "2006-01-02-15-04"
              rollover_frequency: "minute"
              shards: 1
              replicas: 0
      another_storage:
        elasticsearch:
          tls:
            insecure: true
            insecure_skip_verify: true
          server_urls: ["http://opensearch:9200/"]
          auth:
            basic:
              username: ${env:OPEN_SEARCH_USER_NAME}
              password: ${env:OPEN_SEARCH_PASSWORD}
          indices:
            index_prefix: "jaeger-archive"

    metric_backends:
      some_metrics_storage:
        prometheus:
          endpoint: http://prometheus:9090
          normalize_calls: true
          normalize_duration: true

connectors:
  spanmetrics:

receivers:
  otlp:
    protocols:
      grpc:
      http:
        endpoint: "0.0.0.0:4318"

processors:
  batch:

exporters:
  jaeger_storage_exporter:
    trace_storage: some_storage
  prometheus:
    endpoint: "0.0.0.0:8889"
