.errorCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.buttonsBlock {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.errorList {
    text-align: start;
}
