version: '3.5'
name: feed

services:
  backend:
    platform: linux/amd64
    build:
      context: ../backend
      dockerfile: Dockerfile
    entrypoint: ["/bin/bash", "/tmp/entrypoint.sh"]
    container_name: feed_backend
    ports:
      - 8000:8000
      - 5678:5678
    env_file:
      - ../backend/.env.sample
    #volumes:
    #  - ../db/:/db
    volumes:
      - ../db/:/db
      - ../backend/:/app
    #  - /usr/local/lib/python3.10/site-packages
      - ./entrypoint.sh:/tmp/entrypoint.sh:ro
    stdin_open: true
    tty: true
  admin:
    platform: linux/amd64
    build:
      context: ../
      dockerfile: ./local-dev/Dockerfile_front
    command: sh -c "cd ./packages/admin && npm run dev"
    container_name: feed_admin
    ports:
      - 3002:3002
    volumes:
      - ../packages/admin/:/app/packages/admin
  # scanner:
  #   build:
  #     context: ../
  #     dockerfile: ./local-dev/Dockerfile_front
  #   command: sh -c "cd ./packages/scanner && npm run dev"
  #   container_name: feed_scanner
  #   ports:
  #     - 3001:3001
  #   volumes:
  #     - ../packages/scanner/:/app/packages/scanner
