.datePicker {
    display: flex;
    gap: 2px;
    align-items: center;

    .date {
        font-size: 0.75em;
    }

    .button {
        padding: 0;
        border: 1px solid rgb(208 208 208);
        border-radius: 5px;
        line-height: 0;

        @media --desktop {
            .svg {
                width: 40px;
                height: 40px;
            }
        }

        .svg {
            width: 30px;
            height: 30px;
        }

        &:disabled,
        &:active {
            opacity: 0.5;
        }
    }
}
