.edit {
    display: flex;
    flex-wrap: nowrap;
}

.edit__nav {
    max-width: 230px;
    margin-right: 24px;
    background-color: white;
}

.navList {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navList__item {
    display: flex;
    align-items: center;
    width: 230px;
    height: 40px;
    padding: 0 24px 0 16px;
    color: rgb(0 0 0 / 0.85);
    font-size: 14px;
    line-height: 157%;
    cursor: pointer;
}

.navList__item:not(:last-child) {
    margin-bottom: 8px;
}

.active {
    border-right: 3px solid rgb(24 144 255);
    background: rgb(230 247 255);
}

.formWrap {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    height: calc(100vh - 290px);
}

.formWrap::-webkit-scrollbar {
    width: 4px;
}

.formWrap::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgb(24 144 255);
}

.formWrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(14 93 167);
}

.formSection {
    position: relative;
    padding: 16px;
    background-color: white;
}

.formSection:not(:last-child) {
    margin-bottom: 16px;
}

.formSection__title {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.formSection__title h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: rgb(0 0 0 / 0.85);
}

/* personal */

.bannedWrap {
    display: inline-flex;
    align-items: center;
    padding: 2px 8px;
    background: #fff1f0;
    border: 1px solid #ffa39e;
    border-radius: 2px;
}

.bannedDescr {
    font-size: 12px;
    line-height: 20px;
    color: #cf1322;
    font-weight: 400;
}

.isActiveCheckboxWrap {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
}

.isActiveCheckbox:not(:last-child) {
    margin-right: 16px;
}

.photo {
    width: 100%;
    margin-bottom: 4px;
    background-color: rgb(245 245 245);
}

.twoEqualColumnsWrap {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 12px;
}

.twoColumnsStartWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
}

.nameInput {
    flex-grow: 1;
}

.nameInput:not(:last-child) {
    margin-right: 12px;
}

.phoneInput {
    flex-grow: 2;
    margin-right: 12px;
}

.genderSelect {
    flex-grow: 1;
}

.kitchenTypeWrap {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.kitchenSelect {
    flex-grow: 1;
    margin-right: 12px;
}

.typeMeal {
    flex-grow: 1;
}

/* HR информация */

.hrInputsWrap {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    align-items: center;
}

.hrInput {
    width: 50%;
}

.hrInput:not(:last-child) {
    margin-right: 12px;
}

/* Даты на поле */
.dateWrap {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
}

.dateLabel {
    color: rgb(141 149 158);
    font-weight: 500;
}

.dateInput {
    flex: 1;
}

/* Кастомные поля */

.customDescr {
    margin: 0;
    padding: 60px 0;
    font-size: 25px;
    text-align: center;
}

/* QR - info */

.badgeQR {
    flex-grow: 1;
}

.threeColumnsWrap {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 12px;
}

.threeColumnsWrap > * {
    align-self: start;
}

.badgeInfo:not(:last-child) {
    margin-right: 12px;
}

.badgeInfoPart {
    display: flex;
    gap: 12px;
}

.badgeInfoPart > * {
    flex: 1;
}

/* Дополнительно */

.blockDeleteWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* модалка блокировки */

.modalWindow {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 30px;
    background-color: white;
}

.carefulIcon {
    position: absolute;
    top: 24px;
    left: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 22px;
    height: 22px;
    border: 2px solid rgb(250 173 20);
    border-radius: 50%;
}

.carefulDescr {
    display: block;
    color: rgb(250 173 20);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
}

.modalTitle {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
    color: rgb(0 0 0 / 0.85);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.modalDescr {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    color: rgb(0 0 0 / 0.85);
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
}

.visuallyHidden {
    position: absolute;
    overflow: hidden;
    clip-path: inset(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.reactQuill * {
    border-radius: 8px;
}

.blockButton {
    display: flex;
    align-items: center;
}

.engagementsDescr {
    font-size: 14px;
    line-height: 157%;
    color: black;
}

.engagementsDescr:first-child {
    margin-right: 16px;
}

.deleteButton {
    margin-top: 7px;
    padding: 0;
}

.addArrivalButton {
    float: right;
}

.modalButtonWrap {
    display: flex;
}

.onCancelButton {
    margin-right: 10px;
}

/* ADAPTIVES */
@media (width <= 1366px) {
    .edit__nav {
        display: none;
    }
}

@media (width <= 768px) {
    .nameInput {
        width: 100%;
    }

    .padInp {
        padding-right: 130px;
    }

    .phoneInput {
        width: 100%;
    }

    .genderSelect {
        width: 100%;
    }

    .dateWrapper {
        padding-top: 20px;
        border-top: 1px solid rgb(201 201 201);
    }

    .dateWrap {
        margin-bottom: 22px;
        position: relative;
        flex-direction: column;
    }

    .dateWrap * {
        margin-bottom: 0;
    }

    .dateCheck {
        position: absolute;
        top: 0;
        right: 0;
    }

    .deleteButton {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1000;
    }

    .dateLabelEmpty {
        display: none;
    }

    .threeColumnsWrap {
        grid-template-columns: 100%;
        margin: 14px 0;
    }

    .threeColumnsWrap > * {
        margin-bottom: 0;
    }
}

@media (width <= 576px) {
    .hrInputsWrap {
        flex-direction: column;
    }

    .hrInput {
        width: 100%;
    }

    .deleteButton {
        top: 0;
        right: 12px;
    }

    .badgeInfoWrap {
        flex-direction: column;
    }

    .badgeInfo {
        width: 100%;
    }

    .blockDeleteWrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .blockButton {
        margin-bottom: 20px;
    }

    .modalButtonWrap {
        margin-left: -35px;
    }

    .resultDescr {
        display: block;
        margin-bottom: 5px;
    }

    .formWrap {
        height: calc(100vh - 280px);
    }
}

.pageTitle {
    display: flex;
    align-items: center;
    gap: 16px;
}

.pageTitle h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: rgb(0 0 0 / 0.85);
}

@media (width <= 576px) {
    .pageTitle {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
}

:global {
    @media (width <= 576px) {
        :where(.ant-page-header-content) {
            padding: 0 !important;
        }

        :where(.ant-card-body) {
            padding: 5px !important;
        }

        :where(.ant-card-actions) {
            margin: 11px 5px 56px !important;
            position: sticky;
            bottom: 50px;
        }
    }

    @media (width >= 577px) {
        :where(.ant-card-actions) {
            margin: 0 24px !important;
            position: static;
        }
    }
}
