.filters {
    display: flex;
    align-items: baseline;
    padding: 24px 0;
}

.filtersLabel {
    margin-right: 24px;
    font-weight: 500;
}

.filterItems {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    @media (width <= 576px) {
        :global(.ant-btn) {
            min-height: 32px;
            height: fit-content;
        }
    }
}

.filterItemButton {
    color: #d9d9d9;
}

.filterPopupFieldName {
    color: #8d959e;
}

.filterPopupHeader {
    padding-bottom: 12px;
}

.filterDownIcon {
    padding-left: 6px;
}

.filterPopupList {
    overflow: auto;
    max-height: 300px;
    margin-top: 8px;
}

.filterPopupListItem {
    display: flex;
    padding: 8px 0;
    cursor: pointer;
    column-gap: 8px;
}

.filterItemActive {
    color: #000000;
}

.filterItemNameActive {
    font-weight: 500;
    margin-right: 4px;

    @media (width <= 576px) {
        display: block;
        margin-right: 0;
    }
}

.filterItemValue {
    overflow-wrap: break-word;
    white-space: break-spaces;
}

.filterListItemCount {
    color: #8d959e;
}

.mobileVolList {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding-bottom: 56px;
}

.volCard {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    border-radius: 2px;
    padding: 12px;
    background: #fff;
    min-width: 0;

    .textRow {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .bold {
        font-weight: 500;
    }
}

.cursorPointer {
    cursor: pointer;
}

.modalContent {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.modalIconWrapper {
    margin-bottom: 16px;
}

.modalIcon {
    color: #ff4d4f;
    font-size: 24px;
}

.modalTextContent {
    display: flex;
    flex-direction: column;
}

.modalTitle {
    margin-bottom: 16px;
}

.swipeActionContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.swipeActionIcon {
    font-size: 24px;
    line-height: 1;
}

.loaderOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 8px;
}
