.filters {
    display: flex;
    align-items: baseline;
    padding: 24px 0;
}

.filtersLabel {
    margin-right: 24px;
    font-weight: 500;
}

.filterItems {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 8px;
}

.filterItemButton {
    color: #d9d9d9;
}

.filterPopupFieldName {
    color: #8d959e;
}

.filterPopupHeader {
    padding-bottom: 12px;
}

.filterDownIcon {
    padding-left: 6px;
}

.filterPopupList {
    overflow: auto;
    max-height: 300px;
    margin-top: 8px;
}

.filterPopupListItem {
    display: flex;
    padding: 8px 0;
    cursor: pointer;
    column-gap: 8px;
}

.filterItemActive {
    color: #000000;
}

.filterItemNameActive {
    font-weight: 500;
}

.filterListItemCount {
    color: #8d959e;
}

.mobileVolList {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding-bottom: 56px;
}

.volCard {
    display: flex;
    flex-direction: column;
    gap: 6px;

    width: 100%;
    border-radius: 2px;
    padding: 12px;
    background: #fff;

    min-width: 0;

    .textRow {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .bold {
        font-weight: 500;
    }
}

.cursorPointer {
    cursor: pointer;
}
