

.formItem {
  display: flex;
  flex-direction: column;
  position: relative;
}

.formLabel {
  padding: 0;
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #333153;
  margin-bottom: 8px;
  display: block;
  transform-origin: top left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 8px;
  
}

.formInput {
  padding: 12px;
  height: 42px;
  border: 1px solid #d8deeb;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #222;
  background-color: #FFF;
  align-items: center;
  position: relative;
  border-radius: 4px;
  &:focus {
    border-color: #334866;
  }
  &.error {
    border-color: 
    
    #FF5A50;
  }
}

.alertMessage {
  color: #FF5A50;
  font-size: 14px;
  position: absolute;
  left: 0;
  bottom: -22px;
}