.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 76px 16px 16px 16px;

    height: 100vh;
    width: 100vw;

    &.white {
        background: var(--c-white);
    }

    &.red {
        background: var(--c-error);
    }

    &.blue {
        background: var(--c-blue);
    }
}
