.qrScanVideo {
    width: 100vw;
    height: 80vh;
    margin: 10vh 0;
}

.qr {
    position: absolute;
    display: flex;
    width: 100vw;
    height: calc(var(--vh) * 100);
    max-height: fill-available;
    z-index: var(--z-scan-qrscan);

    .flash {
        position: absolute;
        top: 2vw;
        right: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 2em;
        }
    }
}
