.qrScanVideo {
    width: 100vw;
    height: 60vh;
    margin: 20vh 0;
}

.qr {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    max-height: -webkit-fill-available;

    .flash {
        position: absolute;
        top: 2vw;
        right: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 2em;
        }
    }
}
