* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

html {
    height: 100%;
}

#root {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    /* stylelint-disable */
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

code {
    /* stylelint-disable */
    font-family: source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
    /* stylelint-enable */
}
