.mealTimeSelectBlock {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 15px;

    button {
        width: 50vw;
    }

    h1 {
        font-size: 1.5em;
    }
}
