.warning {
    color: #faad14;
}

.title {
    display: flex;
    column-gap: 16px;
}

.text {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.text > div:empty {
    display: none;
}
