.history {
    position: relative;
    overflow: auto;
    height: calc(100vh - var(--header-h-mobile));
}

@media --desktop {
    .history {
        height: calc(100vh - var(--header-h-mobile));
    }
}
