.table {
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    border-radius: 16px;
}

.thead {
    background-color: var(--c-grey);
    color: var(--c-txt);
    height: 40px;
    font-weight: 600;
    font-size: 16px;
}

.cell {
    padding: 0 12px;
    text-align: center;
}

.head {
    padding: 0 12px;
    text-align: center;
}

.row {
    height: 40px;

    .cell:first-child {
        text-align: left;
    }

    .head:first-child {
        text-align: left;
    }
}

.tbody {
    .row:nth-child(even) {
        background-color: var(--c-light);
    }
}
