.tableWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.info {
    display: flex;
    justify-content: flex-end;
}

.contentRow {
    height: 64px;
}

.vegan {
    color: var(--c-success);
}

.meat {
    color: var(--c-error);
}

.loading {
    opacity: 0.3;
}
