name: Deploy to fest

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: [self-hosted, feedsrv]
    env:
      IMAGE_NAME_BASENAME: feed-admin
      DB_DIR: /var/feed_db
      SKIP_BACK_SYNC: True
    steps:
    - uses: actions/checkout@v3
# DB
    - name: setup db dir
      run: mkdir -p ${DB_DIR}
# ADMIN
    - name: build admin
      run: |
          docker compose build \
            --build-arg NEW_API_URL=https://feedapp.insomniafest.ru/feedapi/v1 \
            --build-arg SYNC_URL=https://agreemod.insomniafest.ru/api/v1/feeder/ \
            --build-arg SYNC_LOGIN=${{ secrets.SYNC_LOGIN }} \
            --build-arg SYNC_PASSWORD=${{ secrets.SYNC_PASSWORD }}
    - name: stop feed_admin
      run: docker rm -f $IMAGE_NAME_BASENAME
    - name: run admin
      run: |
        DB_DIR=${DB_DIR} SKIP_BACK_SYNC=${SKIP_BACK_SYNC} PORT=8888 docker compose up -d --force-recreate --remove-orphans
# CLEANUP
    # - name: cleanup docker containers
    #   run: docker container prune --filter "until=168h" -f
    # - name: cleanup docker images
    #   run: docker image prune -a -f --filter "until=168h"
    # - name: cleanup docker build cache
    #   run: docker builder prune -a -f --filter "until=168h"
