name: Deploy to rumsrv

on:
  workflow_dispatch:
  push:
   branches: [ main ]
# workflow_dispatch:

jobs:
  build:
    runs-on: [self-hosted, rumsrv]
    env:
      IMAGE_NAME_BASENAME: feed-admin
      DB_DIR: /var/feed_db
      OPEN_SEARCH_PASSWORD: ${{ secrets.OPEN_SEARCH_PASSWORD }}
      OPEN_SEARCH_USER_NAME: ${{ secrets.OPEN_SEARCH_USER_NAME }}
    steps:
    - uses: actions/checkout@v3
# DB
    - name: setup db dir
      run: mkdir -p ${DB_DIR}
# ADMIN
    - name: build admin
      run: |
          docker compose build \
            --build-arg NEW_API_URL=https://feedapp-dev.insomniafest.ru/feedapi/v1 \
            --build-arg SYNC_URL=https://agreemod-dev.insomniafest.ru/api/v1/feeder/ \
            --build-arg SYNC_LOGIN=${{ secrets.SYNC_LOGIN }} \
            --build-arg SYNC_PASSWORD=${{ secrets.SYNC_PASSWORD }}
    - name: stop feed_admin
      run: docker rm -f $IMAGE_NAME_BASENAME
    - name: run admin
      run: |
        DB_DIR=${DB_DIR} SKIP_BACK_SYNC=True PORT=8888 docker compose up -d --remove-orphans
# CLEANUP
    - name: cleanup docker containers
      run: docker container prune --filter "until=168h" -f
    - name: cleanup docker images
      run: docker image prune -a -f --filter "until=168h"
    - name: cleanup docker build cache
      run: docker builder prune -a -f --filter "until=168h"
